<body>
<h1 class="titulo">Mulheres FODAS da Tecnologia</h1>
<% @posts.each do |post| %>
		
		<%= link_to post do %>
		<div class="imagem">
			<%= image_tag post.picture.url(:thumb) %>
		</div>
<% end %>

<% end %>
</body>
