<div class="container">
<p>

	<div class="teste">
		<h1><strong>Nome:</strong></h1>
		<div class="texto"><%= @post.name %></div>
	</div>

	<!-- <strong>Date:</strong>
	<%= @post.birthdate %> -->

	<h1><strong>Biografia:</strong></h1>
	<div class="texto">
		<%= @post.bio %>
	</div>

	<div class="imagem">
	<%= image_tag @post.picture.url(:medium)%>
	</div>
</p>
</div>
