<p>
	<div class="teste">
		<strong>Name:</strong>
		<%= @post.name %>
	</div>

	<!-- <strong>Date:</strong>
	<%= @post.birthdate %> -->

	<strong>Bio:</strong>
	<%= @post.bio %>

	<%= image_tag @post.picture %>
</p>
