// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.titulo {
	color: #7401DF;
	text-shadow: 3px 3px #FFFF00;
	text-align: center;
	font-size: 5em;
	font-family: 'Coming Soon', cursive;
	font-weight: bolder;
}

p{
	font-family: 'Pacifico', cursive;
	font-size: 2em;
	font-weight: bolder;
	color: #00FFFF ;
	text-shadow: 2px 2px #FF8000;
	text-align: center;

}

body{
	background-image: url("https://i.pinimg.com/736x/6a/72/22/6a7222ff10dd7f6243dd5079efa7695f--unicorn-diy-unicorn-horns.jpg");
}

h1 {
	color: #7401DF;
	text-shadow: 3px 3px #FFFF00;
	font-size: 24px;
	font-family: 'Coming Soon', cursive;
	font-weight: bolder;
}

.texto {
	font-family: 'Pacifico', cursive;
	font-size: 2em;
	font-weight: bolder;
	color: #00FFFF ;
	text-shadow: 2px 2px #FF8000;
}

.container {
	text-align: center;
}

.imagem {
	text-align: center;
}